@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.footer {
  &-section {
    @include flexRow;
    justify-content: space-between;
  }

  &-btn {
    width: 120px;
    border-radius: 20px;
    @include middleShadow;
    text-transform: uppercase;

    &.hide {
      visibility: hidden;
    }
  }

  &-prev {
    background: $color-grey;
    color: $color-dark;
  }

  &-next {
    background: $color-dark;
    color: $color-grey;
  }
}