@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.media-item {
  @include flexCol;
  align-items: center;
  justify-content: space-evenly;

  &__ui {
    @include flexCol;
    align-items: center;
    justify-content: center;
    background: $color-white;
    border-radius: 50%;
    height: 300px;
    width: 300px;

    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    width: 95px;
    height: 95px;
  }

  &__label {
    text-align: center;
  }

  &__preview {
    width: 140px;
    height: 140px;
    object-fit: contain;
  }
}