$body-background: #f7f7f7;
$step-background: #eee;
$color-black: #000;
$color-white: #fff;
$color-grey: #d8d8d8;
$color-grey-light: #bdc3c7;
$color-dark: #303030;
$color-blue: #2d9cdb;
$color-green: #28a745;

$primary-font: 'Roboto';

$phone-width: 767px;
$tablet-width: 991px;